body{
  margin: 0px;
  overflow: hidden;
  background-color: antiquewhite;
  position: relative;
}

.title-box{
  border: 1px solid white;
  padding: 4px;
  position: absolute;


}


canvas{
  cursor: grab;

}

canvas:active{
  cursor: grabbing;
}

